body{
	font-family: sans-serif;
	background-color: #444;
	color:#EEE;
	padding:50px;
	margin: 50px;
	border: 5px solid;
}
h1{
	color:#FFF;
	font-style: italic;
	text-align: center;
}
a{
	color: #80CC99;
}
hr {
	border: 2px solid #999;
	clear: both;
}
img{
	float: right;
	margin-left: 20px;
	margin-bottom:20px;
	border: 1px solid #999;
}
nav {
	text-align: center
}
