body {
	background-color: #FFFFCC;
}
ul {
	list-style-type: disc;
}
h1 {
	color: ##663300;
	text-align: center;
}
h4 {
	text-align: center;

h3 {
	color: #663300;
	text-slign: left;
}

p {
	color: #000000;
}